<div class="p-3 mb-2 bg-light text-black " style="height: full;">
<nav class="navbar navbar-expand-lg justify-content-center">
</nav>
<div class="row justify-content-center">
<div class="row col-md-6 col-md-push-">
<h1>New Book</h1>

<%= render 'form', book: @book %>

<div>
<%= link_to 'Back', :back, class:'btn btn-danger btn-sm' %>
</div>
</div>
</div></div>